### Date: 28 September 2015 ###
### Author: Sheikh Farhan
### Current Spec: 4GB RAM 4xvCore @ Linode (SG)###
### Check out:
### https://launchpad.net/mysql-tuning-primer or http://blog.mysqltuner.com/down load/
##
#
[client]
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket                  = /var/run/mysqld/mysqld.sock
nice                    = 0

[mysqld]

### GENERAL #
user                    = mysql
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3306
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc_messages_dir         = /usr/share/mysql
lc_messages             = en_US
bind-address            = 127.0.0.1
#sysdate-is-now          = 1
#skip-name-resolve

### MyISAM #
key_buffer_size         = 32M
myisam_recover		= BACKUP
myisam_sort_buffer_size	= 64M

# If we want 100 connections spawned across 1 user only (max_user_connections),
# leave 20-50 more for system processes.
# If user connections were 200 and we had 2 users,
# the max_connections value would be something between 220-250.
# Connections:

max_connections         = 200
max_user_connections    = 150

max_allowed_packet      = 64M
max_connect_errors      = 100000

innodb                  = force

query_cache_type        	= OFF
query_cache_limit       	= 128K
query_cache_size		= 16M
query_cache_strip_comments 	= 1
# strip comments only for percona or mariadb

#query_cache_type       = 0
#query_cache_limit      = 0
#query_cache_size       = 0

sort_buffer_size        = 4M
read_buffer_size        = 2M
read_rnd_buffer_size    = 1M
join_buffer_size        = 2M
bulk_insert_buffer_size	= 32M

concurrent_insert	= 2

thread_cache_size       = 128

tmp_table_size          = 128M
max_heap_table_size     = 128M

connect_timeout         = 10
wait_timeout            = 120
interactive_timeout     = 7200
net_read_timeout        = 120
net_write_timeout       = 120

table_open_cache        = 1024
table_definition_cache  = 1024

### INNODB_ #

default_storage_engine  = InnoDB

innodb_buffer_pool_size = 2048M
innodb_log_buffer_size  = 16M
innodb_log_file_size    = 128M

## To change log file size,
## Requires special procedure

innodb_thread_concurrency       = 6
innodb_flush_method             = O_DIRECT
innodb_flush_log_at_trx_commit  = 2

innodb_open_files      = 400
innodb_io_capacity     = 400

## The minimum length of words to be indexed
#ft_min_word_len                 = 3

### LOGGING #
#general_log_file                = /var/log/mysql/mysql.log
#general_log                     = 1

slow_query_log                  = 1
slow_query_log_file             = /var/log/mysql/mariadb-slow.log
long_query_time                 = 2
log_slow_rate_limit             = 10
# rate limit is 1/nth
log_slow_verbosity              = query_plan
log_queries_not_using_indexes   = 1
#slow_query_log_timestamp_always = ON
#log_slow_admin_statements

### ERROR LOGGING #
## Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf.
# We do want to know about network errors and such
log_warnings            = 2
log_error               = /var/log/mysql/error.log

### BINARY LOGGING #
log_bin                 = /var/lib/mysql/mariadb-bin
log_bin_index           = /var/lib/mysql/mariadb-bin.index
expire_logs_days        = 7
max_binlog_size         = 100M
binlog_format           = mixed

############################
# * Slave * #
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
# other settings you may need to change.
#server-id                = 1
#report_host            = master1
#auto_increment_increment = 2
#auto_increment_offset  = 1
############################
# * Security Features #
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
############################
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
## ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem
############################

[mysqldump]
quick
quote-names
max_allowed_packet = 500M

[mysql]
no-auto-rehash

[isamchk]
key_buffer	         = 16M
sort_buffer_size        = 256k
read_buffer             = 256k
write_buffer            = 256k

[myisamchk]
key_buffer_size         = 16M
sort_buffer_size        = 256k
read_buffer             = 256k
write_buffer            = 256k

###########################
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.

